In [4]:
import pandas as pn

m=pn.read_csv("movies.csv")
m

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [5]:
m.head(3)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010

In [6]:
m.tail(4)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [10]:
m.sample(3)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
61,He's Just Not That Into You,Comedy,Warner Bros.,60,7.153600,42,$178.84,2009

In [11]:
m[1:5]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [14]:
m.loc[5:,"Genre":"Profitability"]

        Genre       Lead Studio  Audience score %  Profitability
5       Drama  20th Century Fox                72       3.081421
6   Animation            Disney                89       2.896019
7     Romance       Independent                67      11.089742
8     Romance       Independent                53       0.005000
9      Comedy      Warner Bros.                54       4.184038
..        ...               ...               ...            ...
72    romance       Independent                84       0.652603
73      Drama         Universal                64       4.382857
74      Drama       Independent                89       0.448645
75     Comedy               Fox                71       5.343622
76     comedy               Fox                81       8.096000

[72 rows x 4 columns]

In [15]:
m.iloc[1:3,2:4]

             Lead Studio  Audience score %
1  The Weinstein Company                52
2            Independent                35

In [18]:
m.shape

(77, 8)

In [19]:
m[m["Genre"]=="Comedy"]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010
13,The Ugly Truth,Comedy,Independent,68,5.402632,14,$205.30,2009
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
17,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,$32.40,2009
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
24,She's Out of My League,Comedy,Paramount,60,2.440500,57,$48.81,2010
25,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
26,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008
32,Over Her Dead Body,Comedy,New Line,47,2.071000,15,$20.71,2008
33,Our Family Wedding,Comedy,Independent,49,0.000000,14,$21.37,2010
36,No Reservations,Comedy,Warner Bros.,64,3.307180,39,$92.60,2007
37,Nick and Norah's Infinite Playlist,Comedy,Sony,67,3.352729,73,$33.53,2008
42,Miss Pettigrew Lives for a Day,Comedy,Independent,70,0.252895,78,$15.17,2008
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
49,Love & Other Drugs,Comedy,Fox,55,1.817667,48,$54.53,2010
50,Life as We Know It,Comedy,Independent,62,2.530526,28,$96.16,2010
51,License to Wed,Comedy,Warner Bros.,55,1.980206,8,$69.31,2007
52,Letters to Juliet,Comedy,Summit,62,2.639333,40,$79.18,2010
53,Leap Year,Comedy,Universal,49,1.715263,21,$32.59,2010
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
56,Just Wright,Comedy,Fox,58,1.797417,45,$21.57,2010
58,It's Complicated,Comedy,Universal,63,2.642353,56,$224.60,2009
59,I Love You Phillip Morris,Comedy,Independent,57,1.340000,71,$20.10,2010
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
61,He's Just Not That Into You,Comedy,Warner Bros.,60,7.153600,42,$178.84,2009
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
63,Going the Distance,Comedy,Warner Bros.,56,1.314062,53,$42.05,2010
66,Ghosts of Girlfriends Past,Comedy,Warner Bros.,47,2.044400,27,$102.22,2009
67,Four Christmases,Comedy,Warner Bros.,52,2.022925,26,$161.83,2008
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008

In [21]:
m["Genre"].unique()

array(['Romance', 'Comedy', 'Drama', 'Animation', 'Fantasy', 'Romence',
       'Comdy', 'Action', 'romance', 'comedy'], dtype=object)

In [25]:
m["Genre"].value_counts()

Genre
Comedy       41
Romance      13
Drama        13
Animation     4
Fantasy       1
Romence       1
Comdy         1
Action        1
romance       1
comedy        1
Name: count, dtype: int64

In [24]:
m.describe()

,level_0,index,Audience score %,Profitability,Rotten Tomatoes %,Year
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,38.000000,38.000000,63.727273,4.599483,46.701299,2009.077922
std,22.371857,22.371857,13.657113,8.031990,26.095001,1.354974
min,0.000000,0.000000,35.000000,0.000000,3.000000,2007.000000
25%,19.000000,19.000000,52.000000,1.751351,26.000000,2008.000000
50%,38.000000,38.000000,64.000000,2.642353,45.000000,2009.000000
75%,57.000000,57.000000,76.000000,5.103117,64.000000,2010.000000
max,76.000000,76.000000,89.000000,66.934000,96.000000,2011.000000

In [42]:
m.set_index("Film")

,level_0,index,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Film,,,,,,,,,
Zack and Miri Make a Porno,0,0,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
Youth in Revolt,1,1,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
You Will Meet a Tall Dark Stranger,2,2,Comedy,Independent,35,1.211818,43,$26.66,2010
When in Rome,3,3,Comedy,Disney,44,0.000000,15,$43.04,2010
What Happens in Vegas,4,4,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...,...
Across the Universe,72,72,romance,Independent,84,0.652603,54,$29.37,2007
A Serious Man,73,73,Drama,Universal,64,4.382857,89,$30.68,2009
A Dangerous Method,74,74,Drama,Independent,89,0.448645,79,$8.97,2011
27 Dresses,75,75,Comedy,Fox,71,5.343622,40,$160.31,2008
(500) Days of Summer,76,76,comedy,Fox,81,8.096000,87,$60.72,2009

In [43]:
m.set_index("index")

,Film,level_0,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
index,,,,,,,,,
0,Zack and Miri Make a Porno,0,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,1,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,2,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,3,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,4,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...,...
72,Across the Universe,72,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,73,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,74,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,75,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,76,comedy,Fox,81,8.096000,87,$60.72,2009

In [47]:
m["newColumn"]=m.apply(lambda x: x["level_0"]-5,axis=1)
m

,Film,level_0,index,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year,newColumn
0,Zack and Miri Make a Porno,0,0,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008,-5
1,Youth in Revolt,1,1,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010,-4
2,You Will Meet a Tall Dark Stranger,2,2,Comedy,Independent,35,1.211818,43,$26.66,2010,-3
3,When in Rome,3,3,Comedy,Disney,44,0.000000,15,$43.04,2010,-2
4,What Happens in Vegas,4,4,Comedy,Fox,72,6.267647,28,$219.37,2008,-1
...,...,...,...,...,...,...,...,...,...,...,...
72,Across the Universe,72,72,romance,Independent,84,0.652603,54,$29.37,2007,67
73,A Serious Man,73,73,Drama,Universal,64,4.382857,89,$30.68,2009,68
74,A Dangerous Method,74,74,Drama,Independent,89,0.448645,79,$8.97,2011,69
75,27 Dresses,75,75,Comedy,Fox,71,5.343622,40,$160.31,2008,70
76,(500) Days of Summer,76,76,comedy,Fox,81,8.096000,87,$60.72,2009,71