In [192]:
# For numerical computations
import numpy as np

# For reading CSV or Excel files
import pandas as pd

# For plotting (scatter plots, regression lines, etc.)
import matplotlib.pyplot as plt

# For basic linear regression and polynomial feature transformation
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split

In [193]:
df=pd.read_csv("house_price_regression_dataset.csv")
print(df.shape)
df.head()
df.replace(["yes","no","furnished","semi-furnished","unfurnished"],[1,0,2,1,0],inplace=True)
print(df.isna().sum())
print((df.dtypes=="int64"))
df

(1000, 8)
Square_Footage          0
Num_Bedrooms            0
Num_Bathrooms           0
Year_Built              0
Lot_Size                0
Garage_Size             0
Neighborhood_Quality    0
House_Price             0
dtype: int64
Square_Footage           True
Num_Bedrooms             True
Num_Bathrooms            True
Year_Built               True
Lot_Size                False
Garage_Size              True
Neighborhood_Quality     True
House_Price             False
dtype: bool

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,1360,2,1,1981,0.599637,0,5,2.623829e+05
1,4272,3,3,2016,4.753014,1,6,9.852609e+05
2,3592,1,2,2016,3.634823,0,9,7.779774e+05
3,966,1,2,1977,2.730667,1,8,2.296989e+05
4,4926,2,1,1993,4.699073,0,8,1.041741e+06
...,...,...,...,...,...,...,...,...
995,3261,4,1,1978,2.165110,2,10,7.014940e+05
996,3179,1,2,1999,2.977123,1,10,6.837232e+05
997,2606,4,2,1962,4.055067,0,2,5.720240e+05
998,4723,5,2,1950,1.930921,0,7,9.648653e+05
999,3268,4,2,1983,3.108790,2,2,7.425993e+05

In [194]:
X=df.drop(['House_Price'],axis=1)
y=df['House_Price']

x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=1)

In [195]:
degree=2;
poly=PolynomialFeatures(degree);
train_poly=poly.fit_transform(x_train);
test_poly=poly.transform(x_test)

In [203]:
model=LinearRegression();
model.fit(train_poly,y_train);
r=model.score(test_poly,y_test);
r

0.9982084369184568

In [207]:
model1=Ridge(alpha=20);
model1.fit(train_poly,y_train);
r=model1.score(test_poly,y_test);
r

0.9982251093873601